
@import url('https://fonts.google.com/specimen/Exo');

*{
    margin: 0;
    box-sizing: border-box; /*définit la façon dont la hauteur et la largeur totale est calculée*/
    overflow-x: hidden; /*lorsque le contenu dépasse des bords*/
}

body{
    font-family: 'Exo', sans-serif;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

h1{
    text-align: center;
    font-family: "Arizonia", cursive;
    font-size: 50px;
}

header .contener {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    flex-direction: column; 
    background-color: rgb(159, 206, 149);
    width: 100%;
}

nav ul {
    display: flex; 
    justify-content: center; 
    list-style: none; 
}

nav ul li {
	margin: 0 2rem; 
    margin-bottom: 10px;
}


nav ul li a {
    color: black; 
    text-decoration: none; 
    font-size: 1rem;
}

footer .contener{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    flex-direction: column; 
    width: 100%;
    padding: 40px;
    margin-top: 45px;
}


.footer{
    margin-top: 30px;
    background-color: rgb(159, 206, 149);
    padding: 20px;
    text-align: center;
    color:  rgb(71, 72, 73);
}

@media screen and (min-width: 1300px){
    body{
        background-size: cover;
    }
}